<div class="container">
    <div class="left">
        <div class="info">
            <h1 class="title">Languages</h1>
            <p class="content">
                <span class="mini-header">Proficient in</span>
                <br>C++, HTML, CSS, SCSS, JS, NodeJS and Angular <br>
                <span class="mini-header">Capable of</span>
                <br> Capable of: C, Mongoose and Mongodb, Express and Matlab</p>
        </div>

        <div class="info">
            <img src="../../../../assets/cancer council.jpg" id="cancer-council">
            <div class="photo-describer">
                Getting the Youth Ambassador Certificate
            </div>
            <h1 class="title">Volunteering and leadership experience</h1>
            <p class="content">
                <span class="mini-header">Cancer Council Youth Ambassador <i>(2016)</i></span>
                <br> Spreading cancer awareness, public speaking and fundraising.<br>
                <span class="mini-header"> Smith Family Reading Program <i>(2016)</i></span>
                <br>Helping children of underprivileged families in South Australia to develop their reading capabilities.<br>
                <span class="mini-header"> Relay For Life <i>(2016)</i></span>
                <br>Participating in a 24 hour relay to raise funds for cancer.<br>
                <span class="mini-header"> Volleyball <i> (2018-now)</i></span>
                <br> Volleyball captain of Adelaide Highschool, and current player at the Adelaide University Volleyball Club.
            </p>
        </div>


    </div>
    <div class="right">
        <div class="info">
            <h1 class="title">Previous Work History</h1>
            <p class="content">
                <span class="mini-header">
                    McDonalds 2017 Jan - July 
                </span><br> Best rookie award<br>
                <span class="mini-header">Ecommerce 2019 Jan - 2020 Feb</span>
                <br> Spent 32,000 profitably for paid advertisements
            </p>
        </div>

        <div class="info">
            <h1 class="title">Additional Skills</h1>
            <p class="content">
                <span class="mini-header">Social Media Marketing</span>
                <br> Proficiency with Google Adword, Facebook Business Manager
                <br> Experience with Pinterest and Snapchat ad
                <br> Copywriting, photo and video editing <br>
                <span class="mini-header">Trilingual</span>
                <br> Proficient in Mandarin and English, comfortable with Japanese.
            </p>
        </div>

        <div class="info">
            <h1 class="title">Education </h1>
            <span class="gpa">GPA : 5.00</span>
            <p class="content">
                Started Bachelor of Computer Science at the University of Adelaide on Feb 30th 2020.<br><br>
                <span class="mini-header">Completed Courses</span>
                <br> Semester 1: MatLab and C , Object Oriented Programming, Puzzle Based Learning, Design Thinking UG
                <br> Semester 2: Algorithms and Data Structures, Computer Systems, <br>
                <span class="mini-header">Current Courses</span>
                <br> Parallel Distributed Systems, Computer Networks and Application, Web Database Computing and Algorithms and Data Structures Analysis
                <br>
            </p>
        </div>
    </div>
</div>