@import "../../../../styles.scss";
.container {
    margin-top: 5vh;
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 5px;
    width: 100%;
    height: auto;
    max-height: 15vh;
    box-shadow: 0 0 5px 2px black;
    border-radius: 5px;
    margin: 10px 0px;
    .title {
        margin-top: 5px;
    }
    content {}
}