<section routerLinkActive="active" routerLink="/landing">
    <div class="image" (mouseenter)="hovered()" (mouseleave)="unHovered()" routerLinkActive="active" routerLink="/landing">
        <img src="../../assets/lucky.png" alt="">
        <h1>Discover Alex</h1>
    </div>
</section>

<div #intro class="hero-image " routerLinkActive="active" routerLink="/landing">
    <div class="intro ">
        <div class="intro-text ">
            <h1 class="hide ">
                <span class="hide-text ">Functionality</span>
            </h1>
            <h1 class="hide ">
                <span class="hide-text ">Meets</span>
            </h1>
            <h1 class="hide ">
                <span class="hide-text special ">Creativity.</span>
            </h1>
        </div>
    </div>
    <div class="transition "></div>
</div>