.container {
    margin: auto;
    margin-top: 10vh;
    margin-left: 15vw;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 1px 3px black;
    padding: 10px;
    h1 {
        font-size: 40px;
    }
    .form {
        form {
            margin-top: 20px;
            width: 100%;
            height: 100%;
            .name {
                display: flex;
                flex-direction: column;
                width: 100%;
                input {
                    font-size: 20px;
                    height: 60px;
                    width: 100%;
                }
            }
            .email {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 25%;
                width: 100%;
                padding-bottom: 10px;
                input {
                    font-size: 20px;
                    height: 100%;
                    width: 100%;
                }
            }
            .message {
                margin-top: 10px;
                width: 100%;
                height: 60%;
                #message {
                    font-size: 20px;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
                margin-bottom: 20px;
            }
        }
        .button {
            display: flex;
            justify-content: center;
            height: 50px;
            width: 100%;
            .gap {
                width: 6%;
                height: 100%;
            }
            input {
                cursor: pointer;
                width: 47%;
                height: 100%;
            }
            button {
                cursor: pointer;
                width: 47%;
                height: 100%;
            }
        }
    }
}