<div class="website-container">
    <div class="container">
        <app-nav></app-nav>
        <app-content></app-content>
    </div>
    <div #intro class="hero-image ">
        <div class="intro ">
            <div class="intro-text ">
                <h1 class="hide ">
                    <span class="hide-text ">Functionality</span>
                </h1>
                <h1 class="hide ">
                    <span class="hide-text ">Meets</span>
                </h1>
                <h1 class="hide ">
                    <span class="hide-text special ">Creativity.</span>
                </h1>
            </div>
        </div>
        <div class="transition "></div>
    </div>
</div>