<div class="container">
    <div class="project-boxes">
        <img src="../../../../assets/front running.png" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Frontrunning Bot</h2>
                <a href="https://github.com/imalexhu/FrontRuning">
                    <div class="interactive">
                        <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                        <div class="duration">
                            Mid-Dec -> Late-Jan</div>
                    </div>
                </a>
            </div>
            <ul class="key-skills">
                <li>Learned how to work effectively and collaboratively with others through the help of Github version control
                </li>
                <li>Implimented a Tri-node structure to improve algorithm speed</li>
                <li>Built and hosted a internal cache system to reduce asynchronous function calls </li>
                <li>Use industry practices for information hiding and file structure</li>
            </ul>

            <p class="body">
                The script utlised BlockNative's memepool explorer to get real time transactions on the ethereum mainnet. This data was then passed my own filter, where an algorithm I made determined the profitability of the trade. Afterwhich, the script interacted with
                the UNISWAP/SDK to automatically make the transaction.
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/project 2.PNG" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Task List</h2>
                <a href="https://github.com/imalexhu/task-manager">
                    <div class="interactive">
                        <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                        <div class="duration"> Beginning-Feb -> Mid-Feb</div>
                    </div>
                </a>
            </div>
            <ul class="key-skills">
                <li>Built a restAPI with express and mongoose for data storage</li>
                <li>Used angular routing to build a single page application</li>
                <li>Learnt to store information in URL and use to as key to access database</li>
                <li>Used bulma scss to improve website UI</li>
            </ul>
            <p class="body">
                This application allows users to create lists to categorise their tasks. Tasks can be created, edited and completed. Creating and editing tasks redirects the application to a new webpage. A restAPI was deployed to make storing data seamless. This project
                was built with help from <a href="https://www.youtube.com/watch?v=V-CeWkz1MNQ&list=PLIjdNHWULhPSZFDzQU6AnbVQNNo1NTRpd" class="link">Devstackr </a>. However, I did not implement the password features as it was too difficult
                for me at the time.
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/project3.PNG" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/CheckList</h2>
                <a href="https://github.com/imalexhu/Notes-app">
                    <div class="interactive">
                        <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                        <div class="duration"> Mid-Feb -> Late-Feb</div>
                    </div>
                </a>
            </div>
            <ul class="key-skills">
                <li>Focused on website UI and providing good UX</li>
                <li>Used angular render to generate a fade-out feature on overflowing text</li>
                <li>Desiged and deployed restAPI</li>
                <li>Created a dynamic sorting function to sort tasks</li>
                <li>Used nodemon to initate restAPI and postman to check</li>
            </ul>
            <p class="body">
                This application allowed the user to write down tasks to do, it stored the tasks in a database which can be accessed with a restAPI. A dynamic sorting function was created to search through tasks for better user experience. In this project I focused on
                designing my own database and UI
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/Capture.PNG" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Website</h2>
                <a href="https://github.com/imalexhu/website">
                    <div class="interactive">
                        <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                        <div class="duration"> Late-Feb-> Mid-March</div>
                    </div>
                </a>
            </div>
            <ul class="key-skills">
                <li>Created an SVG write out of my name, and animated using CSS</li>
                <li>Interactive hover effects for better UX</li>
                <li>Large focus on personal aesthetics and website design</li>
                <li>Expanded knowledge on the angular library</li>
                <li>Deployed project onto the internet using Docker</li>
                <li>Developed familiarity with core angular modules like Render2, Router, </li>
            </ul>
            <p class="body">
                The current site you are on is my website that I built solely from angular. I wanted the website to have a great interactive UI, as well as featuring some more complex features that would display my ability with the angular framework.
                <br>It is a shame, that I due to my lack of proficiency with the framwork, I was unable to create the product I had envisioned. However, I hope that as my skills grow I would be able to continualy develope this website.
            </p>
        </div>
    </div>
</div>