<div class="container">
    <div class="project-boxes">
        <img src="../../../../assets/front running.png" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Frontrunning Bot</h2>
                <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                <span class="duration"> Mid-Dec -> Late-Jan</span>
            </div>
            <p class="body">
                This is a short description of the project
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/front running.png" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Task List</h2>
                <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                <span class="duration"> Mid-Dec -> Late-Jan</span>
            </div>
            <p class="body">
                This is a short description of the project
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/front running.png" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/CheckList</h2>
                <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                <span class="duration"> Mid-Dec -> Late-Jan</span>
            </div>
            <p class="body">
                This is a short description of the project
            </p>
        </div>
    </div>

    <div class="project-boxes">
        <img src="../../../../assets/front running.png" alt="" class="project-picture">
        <div class="content">
            <div class="header">
                <h2 class="title"> ~/Website</h2>
                <img src="../../../../assets/GitHub-Mark-120px-plus.png" alt="" class="github">
                <span class="duration"> Mid-Dec -> Late-Jan</span>
            </div>
            <p class="body">
                This is a short description of the project
            </p>
        </div>
    </div>
</div>