@import "../../../../styles.scss";
.container {
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.highlited {
    background: url('../../../../assets/brush-stroke-banner-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8px 0;
    z-index: -1;
}

.story-card {
    display: block;
    width: auto;
    min-width: 1200px;
    max-width: 75vw;
    max-height: 40em;
    display: flex;
    flex-direction: row;
    .picture {
        height: 100%;
        width: auto;
    }
    .text-content {
        margin-top: auto;
        margin-bottom: auto;
        max-height: 40em;
        .card-header {
            font-size: 24px;
            text-decoration-line: overline;
            color: $orange
        }
    }
}

.left {
    margin-left: 20px;
    .text-content {
        margin-right: 20px;
    }
}

.right {
    margin-right: 20px;
    .text-content {
        margin-left: 20px;
    }
}