<div class="container">
    <div class="story-card right">
        <img src="../../../../assets/friends.jpg" alt="Picture of my hobbies" class="picture">
        <div class="text-content">
            <h2 class="card-header">Ctrl + Shift + I (How I started programming) </h2>
            <p class="card-body">
                Like many others, that was my first experience with code. Growing up in a foreign country and not knowing how to speak the language well, I often found myself trying to make friends by making them laugh. It wasn’t long before I found out how to “hack”
                into wikipedia and change it to something inappropriate. I still fondly remember those times in primary school where my friends and I would constantly try to one-up each other with our new “hacking” skills.
                <br><br> Unfortunately, after our school got more funding and a real playground was built, our times of changing static html documents came to an abrupt end.
                <br><br> But it was not until the start of my computer science degree, did I ever write my first “Hello World” program. And ever since then, I have fallen in love with programming. I love the idea of building applications to solve people’s
                problems, and the scalability of a digital product fascinated me. I could not wait for my degree to teach me the skills I needed, so I learnt web-development largely on my own, specifically focusing on the MEAN stack.


            </p>
        </div>
    </div>

    <div class="story-card left">
        <div class="text-content">
            <h2 class="card-header">My hobbies</h2>
            <p class="card-body">
                I like to live an active lifestyle and I take pride in my health. I am an active member of my university volleyball club, and competed for the university last year. During the off- season I enjoy going to the gym and pushing my body for those back breaking
                PRs.
                <br><br> As for more calm activities, I am an avid cook, often looking to make delicious and nutritious dishes for me to enjoy. With my friends, I often find myself playing tabletop games with them, or video games online.
                <br><br>

            </p>
        </div>
        <img src="../../../../assets/vb.jpg" alt="Picture of my hobbies" class="picture">
    </div>

</div>