<div class="container">
    <div class="story-card right">
        <img src="../../../../assets/friends.jpg" alt="Picture of my hobbies" class="picture">
        <div class="text-content">
            <h2 class="card-header">Ctrl + Shift + I (How I started programming) </h2>
            <p class="card-body">
                Like many others, that was my first experience with code. Growing up in a foreign country and not knowing how to speak the language well, I often found myself trying to make friends by making them laugh. It wasn’t long before I found out how to <i><b>“hack”</b></i>                into wikipedia to play tricks on my friends. I still fondly remember those times in primary school where my friends and I would constantly try to one-up each other with our new <i><b>“hacking”</b></i> skills.
                <br><br> Unfortunately, after our school built a new playground, our days of changing static html documents during lunch time came to an abrupt end.
                <br><br> But it was not until I started my computer science degree that I wrote my first “Hello World” program. And ever since then, I have fallen in love with programming. I love the idea of building applications to solve problems, and
                the scalability of digital products fascinated me. I could not wait for my degree to teach me the skills I needed, so I learnt web-development largely on my own, specifically focusing on the MEAN stack. Since then I have broadened my skills
                by learning about other relevant topics such as algorithms and data structures.


            </p>
        </div>
    </div>

    <div class="story-card left">
        <div class="text-content">
            <h2 class="card-header">My Passions</h2>
            <p class="card-body">
                I love entrepreneurship, even from a young age I was always trying to make a buck or two. During the year 2019 I built multiple e-comerce stores where I managed every aspect of the business.
                <br><br>
                
                I love software engineering. It combines both my love code and entrepreneurship, and being able to create applications that I envision with my software skills is rewarding and very empowering. 
                <br><br>

                I love problem solving. I enjoy looking at problems, and developing an algorithmithic approaoch, I am an avid member of the Adelaide's Compeditive Programming Club. 
                <br><br>

                I am passionate about all aspects of health from fitness to dieting, I am a member of the Adelaide University Volleyball Club, and compete for my Univeristy. I also frequent the gym to maintain my strength levels. I also enjoy making delicious and nutritious dishes for myself to enjoy.
                <br><br>

            </p>
        </div>
        <img src="../../../../assets/vb.jpg" alt="Picture of my hobbies" class="picture">
    </div>

</div>