<div class="container">
    <div class="story-card right">
        <img src="../../../../assets/54434392_2765779800161969_2619274105974685696_o.jpg" alt="Picture of my hobbies" class="picture">
        <div class="text-content">
            <h2 class="card-header">My hobbies</h2>
            <p class="card-body">Some of my hobbies include, staying active by going to the gym and playing volleyball socially. I also enjoy playing both video games and board games with my friends. I am an avid cook, I love making delicious and nutritious food for me to
                enjoy.
            </p>
        </div>
    </div>

    <div class="story-card left">
        <div class="text-content">
            <h2 class="card-header">My hobbies</h2>
            <p class="card-body">Some of my hobbies include, staying active by going to the gym and playing volleyball socially. I also enjoy playing both video games and board games with my friends. I am an avid cook, I love making delicious and nutritious food for me to
                enjoy.
            </p>
        </div>
        <img src="../../../../assets/54434392_2765779800161969_2619274105974685696_o.jpg" alt="Picture of my hobbies" class="picture">
    </div>

</div>