@import "../../../../styles.scss";
.container {
    margin-top: 5vh;
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.highlited {
    background: url('../../../../assets/brush-stroke-banner-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8px 0;
    z-index: -1;
}

.story-card {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-bottom: 3vh;
    .picture {
        height: 100%;
        width: auto;
    }
    .text-content {
        .card-header {
            font-size: 24px;
            text-decoration-line: overline;
            color: $orange
        }
    }
}

.left {
    margin-left: 20px;
    .text-content {
        margin-right: 20px;
    }
}

.right {
    margin-right: 20px;
    .text-content {
        margin-left: 20px;
    }
}